<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name = "dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
	</configSections>
	<dataConfiguration defaultDatabase="BrokerDb" />
	<connectionStrings>
		<add name = "BrokerDb" connectionString = "Data Source=TDS-DSV32\SQLEXPRESS;Initial Catalog=banco_teste;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</connectionStrings>
</configuration>